<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.da.chuang.model.mappers.report.MReportMapper">
  <resultMap id="BaseResultMap" type="com.wzq.da.chuang.model.pojos.report.MReport">
    <!--@mbg.generated generated on Wed Apr 08 23:54:55 CST 2020.-->
    <!--@Table m_report-->
    <id column="report_id" jdbcType="BIGINT" property="reportId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="t_comment" jdbcType="VARCHAR" property="tComment" />
    <result column="t_approval" jdbcType="INTEGER" property="tApproval" />
    <result column="c_comment" jdbcType="VARCHAR" property="cComment" />
    <result column="c_approval" jdbcType="INTEGER" property="cApproval" />
    <result column="expert" jdbcType="VARCHAR" property="expert" />
    <result column="s_comment" jdbcType="VARCHAR" property="sComment" />
    <result column="s_approval" jdbcType="INTEGER" property="sApproval" />
    <result column="e_comment" jdbcType="VARCHAR" property="eComment" />
    <result column="e_approval" jdbcType="INTEGER" property="eApproval" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 08 23:54:55 CST 2020.-->
    report_id, user_id, content, project_id, t_comment, t_approval, c_comment, c_approval, 
    expert, s_comment, s_approval, e_comment, e_approval
  </sql>

  <select id="selectByThree" resultType="com.wzq.da.chuang.model.pojos.report.MReport">
    select
    distinct r.report_id,r.user_id,r.content,r.project_id,r.t_comment,r.t_approval,r.c_comment,r.c_approval,
    r.expert,r.s_comment,r.s_approval,r.e_comment,r.e_approval
    from m_report r,project p,user s,user t,user e
    where
    true
    <if test="reportSelectParam.reportId!=null">
      and r.report_id=#{reportSelectParam.reportId}
    </if>

    <if test="reportSelectParam.projectId!=null">
      and r.project_id=#{reportSelectParam.projectId}
    </if>

    <if test="reportSelectParam.userId!=null and reportSelectParam.userId!=''">
      and r.user_id like CONCAT ('%',#{reportSelectParam.userId},'%')
    </if>

    <if test="reportSelectParam.expert!=null and reportSelectParam.expert!=''">
      and r.expert like CONCAT ('%',#{reportSelectParam.expert},'%')
    </if>

    <if test="reportSelectParam.userName!=null and reportSelectParam.userName!=''">
      and s.user_name like CONCAT ('%',#{reportSelectParam.userName},'%') and s.user_id=r.user_id
    </if>

    <if test="reportSelectParam.teacherName!=null and reportSelectParam.teacherName!=''">
      and t.user_name like CONCAT ('%',#{reportSelectParam.teacherName},'%') and t.user_id=p.one_id and p.project_id=r.project_id
    </if>

    <if test="reportSelectParam.expertName!=null and reportSelectParam.expertName!=''">
      and e.user_name like CONCAT ('%',#{reportSelectParam.expertName},'%') and e.user_id=r.expert
    </if>

    <if test="reportSelectParam.projectName!=null and reportSelectParam.projectName!=''">
      and p.project_name like CONCAT ('%',#{reportSelectParam.projectName},'%') and p.project_id=r.project_id
    </if>

    <if test="reportSelectParam.oneId!=null and reportSelectParam.oneId!=''">
      and p.one_id like CONCAT ('%',#{reportSelectParam.oneId},'%') and p.project_id=r.project_id
    </if>

  </select>
</mapper>